{% extends 'base.html.twig' %}

{% block subtitle %}Liste des utilisateurs
{% endblock %}

{% block body %}
	<h1 class="h1-white">Liste des utilisateurs</h1>
	<div class="flex justify-center my-5">
		<a class="btn-test bgValidateshred text-center" href="{{ path('admin_user_add') }}">Créer un utilisateur</a>
	</div>

	<table class="border-collapse border-white border mx-auto text-white bg-black bg-opacity-50">
		<thead >
			<tr >
				<th class="sm:p-2 border-white border-2">Id</th>
				<th class="sm:p-2 border-white border-2">Email</th>
				<th class="sm:p-2 border-white border-2">Name</th>
				<th class="sm:p-2 border-white border-2">actions</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td class="sm:p-2 border-white border-2">{{ user.id }}</td>
					<td class="sm:p-2 border-white border-2">{{ user.email }}</td>
					<td class="sm:p-2 border-white border-2">{{ user.name }}</td>
					<td class="sm:p-2 border-white border-2">
						<a class="sm:p-2 text-blue-200 hover:text-white border-blue-200 border-b-2" href="{{ path('admin_user_read', {'id': user.id}) }}">Détails</a>
						<a class="sm:p-2 text-yellow-200 hover:text-white border-yellow-200 border-b-2" href="{{ path('admin_user_edit', {'id': user.id}) }}">Editer</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="9">Pas d'utilisateurs trouvés</td>
				</tr>
			{% endfor %}
		</tbody>

	</table>



{% endblock %}
